h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
  color: #232323;
  margin: 60px 0 0 0;
  text-align: center;
  text-shadow: 2px 2px DimGrey;
  background-color: rgba(255, 255, 255, 0.5);
}
h2 {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  color: DimGrey;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
body {
  background: url("https://i.imgur.com/fQ8DpBd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
    top: 50px ;
}

div {
  position: absolute;
  right: 10px;
  top: 10px;
}

#north {
  color: black;
}

.fa {
  padding: 13px;
  font-size: 40px;
  width: 45px;
  height: 45px;
  text-align: right;
  text-decoration: none;
  border-radius: 12px;
  border: 2px solid white;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #e95950;
  color: white;
}


.Buttons {
  text-align: center;
  position: relative;
  top: 40px;
  right: -5px;
}

#east {
  background-color: DimGrey;
  position: absolute;
  right: 490px;
  top: -105px;
  border: 20px black;
  border-radius: 8px;
}

#north {
  background-color: DimGrey;
  position: absolute;
  top: -225px;
  right: 615px;
  border: 20px black;
  border-radius: 8px;
}

#south {
  background-color: DimGrey;
  position: absolute;
  top: 15px;
  right: 615px;
  border: 20px black;
  border-radius: 8px;
}

#west {
  background-color: DimGrey;
  position: absolute;
  top: -105px;
  right: 750px;
  border: 20px black;
  border-radius: 8px;
}
ul {
  text-align: center;
}
