h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 70px;
    line-height: 100px;
    color: #232323;
    margin: 60px 0 0 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
    border-bottom: black;
  }

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}
h5 {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
body {
    background: #D3D3D3;
}
p {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.d-block {
  height: 400px;
  width: auto;
}
img {
  opacity: 0.8;
  filter: alpha(opacity=50);
}
img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.carousel-inner{
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.carousel-control-prev{
  left:10%;
}

.carousel-control-next{
  right: 10%;
}

.carousel-indicators li {
  border-radius: 12px;
  width: 12px;
  height: 12px;
  margin: 6px;
}

.fa {
  text-align: center;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  padding: 0.35em 0.58em;
}

.fa-twitter {
  background: #00aced;
  color: white;
  padding: 0.35em 0.41em;
}

.fa-instagram {
  background: #8a3ab9;
  color: white;
  padding: 0.35em 0.43em;
}
